<div class="row">
    <div class="col-md-3">
        <%= render "shared/categories" %>
    </div>

    <div class="col-md-9">
        <ol class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <% @category.ancestors.each do |parent| %>
                <li class="active">
                    <!-- <%= link_to parent.title, category_path(parent) %> -->
                    <%= parent.title %>
                </li>
            <%end%>
            <li class="active"><%= @category.title%></li>
        </ol>
        <%= render "shared/products" %>
    </div>

</div>
