<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">

    <li class="<%=active_class("coupons")%>">
      <%= link_to "优惠券列表", admin_coupons_path%>
    </li>
     <li class="<%=active_class("serial")%>">
      <%= link_to "优惠券", "javascript: void(0)"%>
    </li>
    <li class="<%=active_class("dealers")%>"><%= link_to "经销商管理","javascript: void(0)"%>
    </li>
    <li class="<%=active_class("tags")%>">
      <%= link_to "优惠券", "javascript: void(0)"%>
    </li>
    <li class="<%=active_class("combinations")%>">
      <%= link_to "优惠券", "javascript: void(0)"%>
    </li>
  </ul>

</div>
